body{
    box-sizing: border-box;
    background-color: white;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 960px;
   min-width:960px;
}
#container div{
    flex-basis: 6.167%; 
    height: 30px
}
